main{
	padding: 10px;
}

h1 {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight:800; 
  font-size: 18px;
  float: left;
  margin-left: 10px;
  line-height: 1;
  
}

h3 {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight:800; 
  font-size: 16px;
  margin-top: 4px;
 
  
}


p + p {
  text-indent: 2em;
}

blockquote {
	background-color:#197278;
	font-size: 1.2em;
	font-weight: 900;
	color:#EDDDD4;
	padding: 8px;
}

.expstyle {
	float:left;
		background-color:#EDDDD4;
		padding: 8px;
}

.pullquote {
	background-color: #197278;
	color:#EDDDD4;
	display:block; 
	float:right; 
	padding:0px; 
	margin:0px; 
	overflow:hidden;
	float: left;
	width: 100%;

}

img.portrait {
	border: #bbbbbb solid 1px;
	padding: 4px;
	margin: 8px;
	width: 120px;
	float: left;
}

.potraitpara {
	float:left;
	margin-left: 124px;
	
}

.normalpara {
	float:left;

	
}

.lastpara {
	float:left;
	margin-bottom: 12px;
	
	
}

.footerstyle {
clear:both;
	margin-top:8px;
	border-top:1px #cccccc solid;
	padding: 10px;
}

.aboutblock {
	float:left;
}
	
/* For the image grids */

.flex-container{
    display: flex;
    flex-wrap: wrap;
}

.col-1 {

    flex-basis: 16%;
}

.col-2 {

    flex-basis: 32%;
}

.col-3 {
    flex-basis: 48%;
}

.col-4 {
    flex-basis: 64%;
}

.col-5 {
    flex-basis: 80%;
}

.col-6 {
    flex-basis: 96%;
}

.flex-container div{
	height: 25.3%;
}