

html, body {
	
  padding: 0;
  margin: 0;

}

p {
	color: #000;
}


main{
	padding: 10px;
	font-family: 'Open Sans', sans-serif !important;
}

footer{
	
	font-family: 'Open Sans', sans-serif !important;
}

main{
	padding: 10px;
	font-family: 'Open Sans', sans-serif !important;
}

h1 {
  font-family: 'Rubik', 'Open Sans', sans-serif !important;
  text-transform: uppercase;
  font-weight:800; 
  font-size: 18px;
  float: left;
  margin-left: 10px;
  line-height: 1;
  
}

h3 {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight:800; 
  font-size: 16px;
  margin-top: 4px;
 
  
}

/* indent paragraphs */
p + p {
  text-indent: 2em;
}

/* caption styles */
.cap {
	font-size: .9em;
	font-weight: 600;
}

blockquote {
	background-color:#197278;
	font-size: 1.2em;
	font-weight: 900;
	color:#EDDDD4;
	padding: 8px;
}

.expstyle {
	float:left;
		background-color:#EDDDD4;
		padding: 8px;
}

/* pullquote style */

#pullquote {
	background-color: #197278 !important;
	color:#EDDDD4 !important;
	display:block !important;
	float:right !important;
	padding:0px !important; 
	margin:0px !important; 
	overflow:hidden !important;
	width: 100% !important;

}

#longquote {
	background-color: #197278 !important;
	color:#EDDDD4 !important;
	display:block !important;
	float:right !important;
	padding:0px !important; 
	margin:0px !important; 
	overflow:hidden !important;
	width: 100% !important;

	}

.leftquo{
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif'; 
	font-size:44px; 
	height: 12px; 
	padding:12px; 
	width: 16px; 
	float:left;
	}
		
		
.rightquo{
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif'; 
	font-size:44px; 
	height:12px; 
	margin-top:12px; 
	margin-right:8px; 
	padding:12px; 
	width: 16px; 
	float:right;
	}

.quotetext {
	margin:12px 12px 12px 18px; 
	padding:12px;
	font-family: 'Open Sans', sans-serif; 
	font-size:28px;  
	float:left;
}

img.portrait {
	border: #bbbbbb solid 1px;
	padding: 4px;
	margin: 8px;
	width: 120px;
	float: left;
}

.normallist {
	float:left;
}

.normalpara {
	float:left;
	clear:both;

	
}

.lastpara {
	float:left;
	margin-bottom: 12px;
	clear: both;
	
}

	.video-responsive {
	float:left;
	margin-bottom: 12px;
	clear: both;
	
}


.footerstyle {
clear:both;
	margin-top:8px;
	width: 100%;
	border-top:1px #cccccc solid;
}

footer {
	background-image: URL("images/fade.png");
	background-repeat: repeat-x;
}
.footerstyle img{
	vertical-align: middle;
	width: 45px;
    transition: all 3s;
}

.footerstyle img:hover {
	transform: scale(2);
}
  
.footerstyle span{
	vertical-align: middle;
	font-size:.9em;
	font-weight: 700;
}
/* moving footer padding over to this div to give the content space but allow the background image to be seamless */

#footcontain {
	padding: 10px;
}

.aboutblock {
	float:left;
}

.currentpage {
	color: #197278 !important;
}
	
/* For the image grids */

.flex-container{
    display: flex;
    flex-wrap: wrap;
}

.col-1 {

    flex-basis: 16%;
}

.col-2 {

    flex-basis: 32%;
}

.col-3 {
    flex-basis: 48%;
}

.col-4 {
    flex-basis: 64%;
}

.col-5 {
    flex-basis: 80%;
}

.col-6 {
    flex-basis: 96%;
}

.flex-container div{
	height: 25.3%;
}


/* setting up the soc flexbox */
.wrapper {
  display: flex;
  flex-flow: row wrap;
}

/* We tell all items to be 100% width, via flex-basis */
.wrapper > * {
  flex: 1 100%;
}

#soc ul {
		list-style:none;
}

/* source order for mobile-first approach
 * in this case:
 * 1. header
 * 2. article
 * 3. aside 1
 * 4. aside 2
 * 5. footer
 */

/* Medium screens */
@media all and (min-width: 600px) {
  /* We tell both sidebars to share a row */
  .aside { flex: 1 auto; }
  #soc ul {
	display:inline-flex;
	}
	#pullquote {
	background-color: #197278 !important;
	color:#EDDDD4 !important;
	display:block !important;
	float:right !important;
	padding:0px !important; 
	margin:0px !important; 
	overflow:hidden !important;
	width: 100% !important;

	}
	
	.video-responsive iframe {
	width: 560px;
	height: 315px;
}	

.col-2{
	flex-basis: 32%;
	margin: 4px;
}

}

/* Large screens */
@media all and (min-width: 800px) {
  /* We invert order of first sidebar and main
   * And tell the main element to take twice as much width as the other two sidebars 
   */
  .main { flex: 2 0px; }
  .aside-1 { order: 1; }
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
  
  
#soc ul{

	display:flex;
}

aside#pullquote {
	background-color: #197278 !important;
	color:#EDDDD4 !important;
	display:block !important;
	float:right !important;
	padding:0px !important; 
	margin:0px !important; 
	overflow:hidden !important;
	width: 25% !important;

}

.video-responsive iframe {
	width: 1120px;
	height: 630px;
}	


}

.container {
  display: flex; /* or inline-flex */
   flex-direction: row;
   
}

/* contact page flexstyle */
/* most horiz space will be for main */
.contact-main {
  flex-grow: 4; /* default 0 */
}
/* social media flex will be narrow */
.contact-socmed {
	flex-grow: 1;
}





