/* the styles for the vertical navigation menu */
#nav_menu_1 ul li {
display: inline-block; 
border-bottom: #BBBBBB;
width: 150px;
list-style-type: none;
padding: 15px 15px 15px 25px;
margin-top: 0;  
margin-left: 10px;
}
#nav_menu_1 ul li a.current { font-weight: 800; }

