header {
    margin-top: 0;
}

h1 {
    color:#121212;
    border-bottom: 6px solid #BBBBBB;
    background-color: #F1FEC6;  
    font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
    text-transform: uppercase;
}

body{
    background-color: #F0F0F0;
}

footer{
    border-bottom: 6px solid #BBBBBB;
    background-color: #F1FEC6;   
}

img {
    float:right;
    border: 6px solid #BBBBBB;
    margin: 6px;
    padding: 6px;
    width: 230px;
}

* {
font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
}